{% include 'base.html' %}
{% block "header" %}{% endblock %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/k/contacts.css' %}">
<p class="name">ООО "Квант"</p>
<p class="adress">302026, г. Орел, ул. Латышских стрелков, д. 6</p>
<p class="telephone">телефон/факс: (4862) 75-24-29, 75-24-30, 73-71-40</p>
<p class="email">e-mail: kvantorel@gmail.com</p>
<img class="sign" src='{% static "/k/img/sign.jpg" %}' alt="вывеска">
<img class="scheme" src='{% static "/k/img/scheme.jpg" %}' alt="схема проезда">
