{% include 'base.html' %}
{% block "header" %}{% endblock %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/k/home.css' %}">
<body>
    <ul>
        <li>Компьютерная и офисная техника</li>
        <li>Лицензионное программное обеспечение</li>
        <li>Антивирусное ПО</li>
        <li>Расходные материалы</li>
        <li>Системы кондиционирования</li>
        <li>Видеокамеры и системы видеонаблюдения</li>
        <li>Визуализация конференц-залов</li>
        <li>Шлагбаумы и турникеты</li>
        <li>Бытовая техника</li>
        <li>Ремонт офисного и компьютерного оборудования</li>
        <li>Заправка, восстановление картриджей</li>
    </ul>
</body>