<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
</head>
<body>
    <header>
        {% include 'base.html' %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/goods/categories3.css' %}">
    </header>
    <form action="" method="POST">
        {% csrf_token %}
        <p id="seek"> {{ form.how_to_search }} {{ form.how_to_search.label }} {{ form.search }}
            <input type="submit" value="Найти">
        </p>
    </form>
    <p id="cat">
        Категории товаров:
    </p>
            <ul class="col1">
                {% for id, name, cat1, cat2, cat3 in col1 %}
                <li>
                    <a href="{{ id }}/" class="cat1"> {{ name }} </a>
                    {# {{ id }} {{ cat1 }} {{ cat2 }} {{ cat3 }} #}
                </li>
                {% endfor %}
            </ul>
            <ul class="col2">
                {% for id, name, cat1, cat2, cat3 in col2 %}
                <li>
                    <a href="{{ id }}/" class="cat1"> {{ name }} </a>
                    {# {{ id }} {{ cat1 }} {{ cat2 }} {{ cat3 }} #}
                </li>
                {% endfor %}
            </ul>
            <ul class="col3">
                {% for id, name, cat1, cat2, cat3 in col3 %}
                <li>
                    <a href="{{ id }}/" class="cat1"> {{ name }} </a>
                    {# {{ id }} {{ cat1 }} {{ cat2 }} {{ cat3 }} #}
                </li>
                {% endfor %}
            </ul>
            <ul class="col4">
                {% for id, name, cat1, cat2, cat3 in col4 %}
                <li>
                    <a href="{{ id }}/" class="cat1"> {{ name }} </a>
                    {# {{ id }} {{ cat1 }} {{ cat2 }} {{ cat3 }} #}
                </li>
                {% endfor %}
            </ul>
</body>
