<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
</head>
<body>
    <header>
        {% include 'base.html' %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/goods/categories2.css' %}">
    </header>
    <form action="" method="get">
        <p> {{ form.how_to_search }} {{ form.how_to_search.label }} {{ form.search }}
            <input type="submit" value="Найти">
        </p>
    <p>
        Категории товаров:
    </p>
<ul class="categories1">
    {% for id, name in cat1 %}
            <li>
                <a href="{% url 'catalogs' %}{{ id }}/" class="cat1"> {{ name }} </a>
            </li>
        {% empty %}
             <li>
                 пока нет категорий
             </li>
        {% endfor %}
</ul>
<p>
    Разделы товаров:<br>
</p>
<ul class="categories2">
    {% for id, name, cat1 in cat2 %}
            <li>
                <a href="{% url 'catalogs' %}{{ cat1}}/{{ id }}/"> {{ name }} </a>
            </li>
        {% empty %}
             <li>
                 выберите категорию
             </li>
        {% endfor %}
</ul>
<ul class="good">
        {% for id, name, article, catalog_number, cat1, cat2, cat3 in goods %}
            <li id="g">
                {{ name }}
            </li>
        {% empty %}
             <li>
                 пока нет товаров
             </li>
        {% endfor %}
</ul>
    </form>
</body>